<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg">

      <i class="fa fa-arrow-left fa-lg" style="color:white"></i>

      <a class="navbar-brand" href="/groups">Categories</a>
   
      <%= link_to destroy_user_session_path, method: :get do %>
        <i class="fa fa-sign-out fa-lg" style="color:white" ></i>
      <% end %>
   
   </nav>

  </body>
</html>